{% extends 'base.html' %}

{% block title %}Заказ №{{ data.id }}{% endblock %}

{% block content %}
    <div class="base">
    <div>Товар №{{ data.id }}</div>
    {% if data.id == 1 %}
        <h3>СОЛГАР ВИТАМИН А DRY VITAMIN A, 100 ТАБЛ</h3>
        <img src="https://i4.stat01.com/2/1923/119223770/075a3e/solgar-vitamin-a-dry-vitamin-a-100-tabl.jpg", height="300"/>
        <br>
        <h3>Цена: 1 450 руб</h3>
        <p>Витамин А – это жирорастворимый витамин, который оказывает серьезное влияние на функционирование иммунной системы и органов зрения, а также играет важную роль в формировании плода в утробе матери и дальнейшее нормальное развитие и рост ребенка.</p>

        {% elif data.id == 2 %}
        <h3>КОМПЛЕКС ВИТАМИНОВ ГРУППЫ В VITAMIN B-COMPLEX, 100 КАПС</h3>
        <img src="https://i3.stat01.com/2/7198/171977861/075a3e/kompleks-vitaminov-gruppy-v-vitamin-b-complex-100-kaps.jpg", height="300"/>
        <br>
        <a>Цена: 790 руб</a>
        <p>Vitamin B - Complex от Optimum System – это высококачественный источник всех витаминов группы B. Дозировка веществ в каждой порции полностью соответствуют суточной норме для спортсменов и людей, которые ведут активный образ жизни.</p>

        {% elif data.id == 3 %}
        <h3>СОЛГАР ЭСТЕР-С ПЛЮС ВИТАМИН C 500 МГ КАПС. №50</h3>
        <img src="https://i1.stat01.com/1/2803/28020037/075a3e/solgar-jester-s-plyus-vitamin-c-500-mg-kaps-50.jpg", height="300"/>
        <br>
        <a>Цена: 1 490 руб</a>
        <p>• необходим для деятельности иммунной системы • необходим для формирования соединительной ткани • для эффективного потребления железа</p>

        {% endif %}
</div>
{% endblock %}
